.c-dygraphs .legend {
  width: auto;
  margin: 3px 8px;
  padding: 2px 5px;
  border: 1px black solid;
  border-radius: 5px; }
  .c-dygraphs .legend .series-container {
    text-align: center; }
    .c-dygraphs .legend .series-container .series {
      padding: 0px 8px;
      display: inline-block; }
      .c-dygraphs .legend .series-container .series a {
        text-decoration: none;
        color: black; }
      .c-dygraphs .legend .series-container .series a:hover {
        color: black;
        cursor: pointer; }

.c-dygraphs .dygraph-legend {
  background-color: #fff !important; }

.c-dygraphs .dypopover {
  pointer-events: none;
  position: fixed;
  display: none;
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  opacity: .80;
  padding: 2px; }
  .c-dygraphs .dypopover th {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    white-space: nowrap; }
  .c-dygraphs .dypopover td {
    white-space: nowrap;
    padding: 2px 5px; }

.c-dygraphs .left .dypopover:after, .c-dygraphs .left .dypopover:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.c-dygraphs .left .dypopover:after {
  border-color: transparent;
  border-right-color: gray;
  border-width: 10px;
  margin-top: -10px; }

.c-dygraphs .left .dypopover:before {
  border-color: transparent;
  border-right-color: gray;
  border-width: 11px;
  margin-top: -11px; }

.dygraph-axis-label {
  color: #000;
  font-size: 12px; }
