<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Dygraph Demo">
    <meta name="author" content="cirrusio">

    <link rel="stylesheet" href="../css/angular-dygraph.css">


</head>

<body ng-app="main">
    <div ng-controller="DygraphCtl">
        <div id="test_id" style="width:100%">
            <dy-graph id="graph1" style='height:400px;' data="data" options="options" legend="legend"></dy-graph>
        </div>
        <div style="width:100%">
            <dy-graph style='height:400px;' data="data" options="options2" legWidth="10"></dy-graph>
        </div>
        <div style="width:100%; float:left">
            <div>
                <input ng-model="x" type="number" />
            </div>
            <div>
                <input ng-model="y" type="number" />
            </div>
            <button ng-click="addVal()">Add Value</button>
        </div>
    </div>


    <!--Import libraries -->
    <!--TODO: Make sure that you have the min libs for production!!! -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../js/cirrus-dygraphs-dev.js"></script>
    <script src="../js/angular-dygraph.js"></script>
    <script>
        /* Just a demo controller...*/
        (function () {
            angular.module('main', ['dygraph'])
                .controller('DygraphCtl', ['$scope', '$rootScope', function ($scope, $rootScope) {
                    var self = this;


                    //plugins.Legend = new Dygraph.Plugins.Legend();

                    $scope.data = [[1, 2, 8], [15, 0, 4]];
                    $scope.x = 0;
                    $scope.y = 12;
                    $scope.addVal = function () {
                        $scope.data.push([$scope.x, $scope.y]);
                    };

                    $scope.options = {
                        legend: 'always',
                        title: 'Test Plot 50%',
                        ylabel: 'Temperature (F)',
                        xlabel: 'Time (s)',
                        labels: ["x", "crds1", "crds2"]
                    };

                    $scope.options2 = {
                        legend: 'always',
                        title: 'Testing Plot 25%',
                        ylabel: 'Temperature (C)',
                        xlabel: 'Time (s)'
                    };

                    $scope.ID = Math.floor(Math.random() * 16000);


                            }])
        })();
    </script>

</body>

</html>